/expressionsEmotions/
/frames_face/
/models/
/2GRAV1qua1.mp4
/CASME2-RAW/
/CASME2_formated/
/resnet_50_best_rank.pth.tar
/clipe1/
/clipe2/
/runs/
/wtgs_affwildnet/
/clipe1.mp4
/clipe2.mp4
/TimeSeriesLearningSkip_best_loss.pth.tar
/temporal_resnet_50_best_loss.pth.tar
.vscode/launch.json
affwildtesttrain/annotations/AU_Set/.DS_Store
affwildtesttrain/
__pycache__/function.cpython-37.pyc
DatasetClasses/__pycache__/FEDatasets.cpython-37.pyc
NeuralNetworks/PyTorch/__pycache__/networks.cpython-37.pyc
